.venv
_pycache_
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance
.env
.env.*
.vscode
.idea
.DS_Store
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.old
teste.txt
server_db_files.json
server_db_users.json